@import "../../functions";
// benefits
div.benefits {
  @include WH(100%, auto);
  div.wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    @include FC();
    align-items: center;
    row-gap: 48px;
    > p {
      color: var(--Dark-blue);
      text-align: center;
      font-family: Poppins;
      font-size: 38px;
      font-style: normal;
      font-weight: 600;
      line-height: 58px; /* 133.333% */
      max-width: 500px;
    }
    div.cards {
      @include WH(100%, auto);
      @include FC();
      row-gap: 32px;
      max-width: 500px;
      div {
        @include WH(100%, auto);
        @include FC();
        background-color: var(--Grey);
        padding: 60px;
        img {
          @include WH(25px, 25px);
        }
        p.one {
          color: var(--Dark-blue);
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 36px; /* 150% */
          margin-top: 26px;
          margin-bottom: 12px;
        }
        p.two {
          color: var(--Dark-blue);
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 175% */
          opacity: 0.7;
        }
      }
    }
    div.users {
      @include WH(100%, auto);
      @include FC();
      align-items: center;
      row-gap: 30px;
      div.ten {
        @include WH(180px, auto);
        @include FC();
        justify-content: center;
        p.one {
          color: var(--Dark-blue);
          font-family: Poppins;
          font-size: 28px;
          font-style: normal;
          font-weight: 600;
          line-height: 40px; /* 147.368% */
          text-align: center;
        }
        p.two {
          color: var(--Dark-blue);
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 175% */
          opacity: 0.7;
          text-align: center;
        }
      }
      div.logos {
        @include WH(100%, auto);
        @include FR();
        justify-content: space-between;
        img {
          @include WH(100px, auto);
          opacity: 0.7;
        }
      }
    }
  }
}
